<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Computer Science</h1>
            <span>University of Sheffield</span>
            <span><address>Sheffield, UK</address><time>2008 to Present</time></span>
        </header>
        <p>
            <em>Thesis: Agent-based Pedestrian Simulation on GPUs for Decision Support Systems</em>
        </p>
    </article>
    <article>
        <header>
            <h1>MSc in Software Systems and Internet Technology</h1>
            <span>University of Sheffield</span>
            <span><address>Sheffield, UK</address><time>2006 to 2007</time></span>
        </header>

    </article>
    <article>
        <header>
            <h1>MEng in Aerospace Engineering</h1>
            <span>University of Sheffield</span>
            <span><address>Sheffield, UK</address><time>2001 to 2005</time></span>
        </header>

    </article>

</section>
