<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Research Software Engineer</h1>
            <span><address>RSES Group, Computer Science Department, University of Sheffield, UK</address><time>2016 to Present</time></span>
        </header>
        <p>Provides consultancy, training and technical support for researchers on Deep learning and other GPU related software engineering problems.</p>
    </article>
    <article>
        <header>
            <h1>University Teacher and Academic Lead</h1>
            <span><address>Virtual &amp; Augmented Reality (VAR) Lab, The Diamond, University of Sheffield, UK</address><time>2015 to 2016</time></span>
        </header>
        <p>University Teacher and academic lead for the Virtual & Augmented Reality Lab in Sheffield University’s new Diamond engineering teaching building.</p>
    </article>
    <article>
        <header>
            <h1>Research Developer</h1>
            <span><address>Advanced Computing Research Centre (ACRC), University of Sheffield, UK</address><time>2013 to 2016</time></span>
        </header>
        <p>Research Developer in the Simulation branch. Projects include Concoursia, MIRO and Receptive Vocabulary Screener App. </p>
    </article>
    <article>
        <header>
            <h1>Research Associate</h1>
            <span><address>Computer Science Department, University of Sheffield, UK</address><time>2012 to 2013</time></span>
        </header>
        <p>Researcher on the PACE and Osteolytica project.</p>
    </article>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>Computer Science Department, University of Sheffield, UK</address><time>2008 to 2012</time></span>
        </header>
        <p>Researcher on the SPICE, Multi-simulation and Pedestrian Simulation P2I project.</p>
    </article>
</section>
