<section class="thirteen columns">
    <h1>Events and Activities</h1>
    <article>
        <header>
            <h1>No Greater Fear than the Unseen, The VR Experience - Developer</h1>
            <span><address>Festival Of the Mind Exhibit, Millennium Gallery, Sheffield, UK</address><time>September 2016</time></span>
        </header>
        <p>A short VR experience about E. coli, also exhibited at the Barbican Centre in 2016. Project led by Prof. Simon Foster and Dr. Nathan Adams.</p>
    </article>
    <article>
        <header>
            <h1>3D in Health Afternoon Conference - Event coordinator</h1>
            <span><address>The Diamond, University of Sheffield, UK</address><time>July 2016</time></span>
        </header>

    </article>
    <article>
        <header>
            <h1>Women in Engineering Big Bang Fair event - Developer, Exhibitor</h1>
            <span><address>Doncaster Racecourse</address><time>July 2016</time></span>
        </header>
        <p>
           Project lead and developer on the creation of a new VR demo "The Crash Landing" for exhibiting at the fair.
        </p>
    </article>
    <article>
        <header>
            <h1>Introduction to VR Sessions - Event Lead</h1>
            <span><address>VAR Lab, The Diamond, University of Sheffield, UK</address><time>2015 to 2016</time></span>
        </header>
        <p>
            Hour-long session outlining the concept of VR, its past, current, and future developments with interactive VR demos.
        </p>
    </article>
    <article>
        <header>
            <h1>VR Taster Sessions - Event Lead</h1>
            <span><address>VAR Lab, The Diamond, University of Sheffield, UK</address><time>2015 to 2016</time></span>
        </header>
        <p>
            Short interactive tour of the VAR lab. Visitors try out state of the art VR equipment along with a brief history of VR.
        </p>

    </article>
    <article>
        <header>
            <h1>The VR Call Centre - Developer, Exhibitor</h1>
            <span><address>Genesys GForce Conference, Miami, USA</address><time>26-30 October 2015</time></span>
        </header>
        <p>
            Short demo highlighting the potential use of VR in the management of future call centres.
        </p>

    </article>
    <article>
        <header>
            <h1>VR Outreach Sessions - Event Lead</h1>
            <span><address>RAVE VR Lab, Kroto Building, University of Sheffield, UK</address><time>2010 to 2012</time></span>
        </header>
    </article>

    <article>
        <header>
            <h1>Invited Demonstrator at BAE Technology Conference</h1>
            <span><address>“Innovations Live”, London</address><time>26th May 2011</time></span>
        </header>

    </article>


</section>