<section class="thirteen columns">
    <h1>Events and Activities</h1>
    <article>
        <header>
            <h1>3D in Health Afternoon Conference - Event Organiser</h1>
            <span><address>The Diamond, University of Sheffield, UK</address><time>July 2016</time></span>
        </header>

    </article>
    <article>
        <header>
            <h1>Introduction to VR Sessions - Event Lead</h1>
            <span><address>VAR Lab, The Diamond, University of Sheffield, UK</address><time>2015 to 2016</time></span>
        </header>

    </article>
    <article>
        <header>
            <h1>VR Taster Sessions - Event Lead</h1>
            <span><address>VAR Lab, The Diamond, University of Sheffield, UK</address><time>2015 to 2016</time></span>
        </header>

    </article>
    <article>
        <header>
            <h1>VR Outreach Sessions - Event Lead</h1>
            <span><address>RAVE VR Lab, Kroto Building, University of Sheffield, UK</address><time>2010 to 2012</time></span>
        </header>
    </article>

    <article>
        <header>
            <h1>Invited Demonstrator at BAE Technology Conference</h1>
            <span><address>“Innovations Live”, London</address><time>26th May 2011</time></span>
        </header>

    </article>


</section>