<section class="thirteen columns">
    <h1>Projects</h1>


    <article>
        <header>
            <h1>The Crash Landing, VR Experience</h1>
        </header>
        <p>Osteo</p>
    </article>
    <article>
        <header>
            <h1>Receptive Vocabulary Screener App (Android)</h1>
            <span>Subtext</span>
        </header>
        <p>Receptive vocabulary (picture vocabulary) testing is used widely by speech and language therapists as a form of assessment of a person’s verbal comprehension. The test prescribes a series of questions in the form of a verbal instruction and four multiple-choice image answers. The Human Communications Department has approached the ACRC to start development of the Receptive Vocabulary Screener mobile application for testing children with additional languages or monolingual children with language weaknesses.</p>
    </article>
    <article>
        <header>
            <h1>MIRO</h1>
        </header>
        <p>The MIRO project involves the design of software architecture within an embedded Linux controller board to run a biomimic companion robot.</p>
    </article>
    <article>
        <header>
            <h1>Concoursia</h1>
        </header>
        <p>Osteo</p>
    </article>
    <article>
        <header>
            <h1>Osteolytica</h1>
        </header>
        <p>Osteo</p>
    </article>
    <article>
        <header>
            <h1>PACE</h1>
        </header>
        <p>Osteo</p>
    </article>
    <article>
        <header>
            <h1>Multi-simulation</h1>
        </header>
        <p>Research Assistant in a project for pedestrian evacuation multi-simulation as a decision support tool funded by BAE Systems. Multiple simulations with different configurations and parameters were efficiently simulated concurrently across a multi-GPU network. </p>
    </article>
    <article>
        <header>
            <h1>SPICE</h1>
        </header>
        <p>Research Assistant in SPICE Project. Simulation of normal and malicious pedestrian behaviour for training security personnel. The project was funded through MoD competition of ideas. (C++, CUDA, Cg, OpenGL, Qt)</p>
    </article>
    <article>
        <header>
            <h1>GEO Street Art Mobile App (iOS and Android) - New York, London and Nuart (Stavenger, Norway)</h1>
        </header>
        <p></p>
    </article>

</section>