<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>“Osteolytica: An automated image analysis software package that rapidly measures cancer-induced osteolytic lesions in in vivo models with greater reproducibility compared to other commonly used methods”</h1>
            <span><address>Bone Issue 83</address><time>2015</time></span>
        </header>

        <p>Evans Holly, Karmakharm Twin, Richmond Paul and Chantry Andrew </p>
    </article>
    <article>
        <header>
            <h1>"Large Scale Pedestrian Multi-Simulation for a Decision Support Tool"</h1>
            <span><address>Theory and Practice of Computer Graphics (TPCG)</address><time>13-14th September 2012</time></span>
        </header>
        <p>Karmakharm Twin, Richmond Paul</p>
    </article>
    <article>
        <header>
            <h1>"Agent-based Large Scale Simulation of Pedestrians With Adaptive Realistic Navigation Vector Fields"</h1>
            <span><address>Proc. of Theory and Practice of Computer Graphics (TPCG), pages 67-74</address><time>2010</time></span>
        </header>

        <p>Karmakharm Twin, Richmond Paul, Romano Daniela </p>
    </article>
</section>

<section class="thirteen columns">
    <h1>Posters and Talks</h1>
    <article>
        <header>
            <h1>"High Performance Pedestrian Multi-Simulation Using a GPU Cluster" - Poster</h1>
            <span><address>GPU Technology Conference, San Jose</address><time>14-17th May 2012</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>"Large Scale Pedestrian Multi-Simulation for a Decision Support Tool" - Talk</h1>
            <span><address>TPCG Conference, Rutherford Appleton Laboratory, UK</address><time>13-14th September 2012</time></span>
        </header>

    </article>
    <article>
        <header>
            <h1>“Agent-based Large Scale Simulation of Pedestrians With Adaptive Realistic Navigation Vector Fields” - Talk</h1>
            <span><address>TPCG Conference, Sheffield, UK</address><time>2010</time></span>
        </header>

    </article>
</section>



