<section class="thirteen columns">
    <h1>Technical Skills</h1>

    <article>
        <header>
            <h1>Software Engineering &amp; Development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>C/C++, CUDA,  OpenGL, PHP, (X)HTML, CSS, Javascript, Latex, Bash and Git</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Caffe, Linux (admin &amp; embedded), C#, Python, Java, Cg, CLSL, Kotlin, Objective-C, XML/XSLT</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Tensorflow, Theano, Torch</em>
        </p>
    </article>
    <article>
        <header>
            <h1>VR, Graphics and Modeling</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Unity, 3DS Max, Photoshop, Illustrator, Sketchup</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Autocad, Blender, After Effects</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Unreal, Maya, Gimp, InDesign</em>
        </p>
    </article>
</section>