<section class="thirteen columns">
    <h1>Teaching and Training</h1>

    <article>
        <header>
            <h1>Introduction to Deep Learning on ShARC's DGX-1</h1>
        </header>
    </article>
    <article>
        <header>
            <h1>Introduction to Unity</h1>
        </header>
    </article>

    <article>
        <header>
            <h1>Introduction to Java Programming</h1>
            <span>As part of Human Computer Interface module <time>Second semester 2009</time></span>
        </header>
    </article>

</section>