<section class="thirteen columns">
    <h1>Teaching and Training</h1>

    <article>
        <header>
            <h1>Fundamentals of Deep Learning for Computer Vision</h1>
            <span><time>From 2017</time></span>
        </header>
        <p>
            A one day workshop introducing the concepts of Deep Learning through the use of Nvidia DIGITS and Caffe in collaboration with Nvidia Deep Learning Institute (DLI). The workshop is held regularly in the University of Sheffield and have been delivered externally in UCL (STFC summer school), University of Bristol, University of Glasgow, University of Dundee and University of Sussex (STFC summer school).
        </p>
    </article>
    <article>
        <header>
            <h1>Invited Teaching Assistant, Deep Learning Institute, GPU Technology Conference 2018</h1>
            <span><time>2018</time></span>
        </header>
        <p>
            Teching assistant in the Fundamentals of Deep Learning for Natural Language Processing, Introduction to Object Detection with TensorFlow, Word Generation with TensorFlow, and Analogous Image Generation using CycleGAN workshops.
        </p>
    </article>
    <article>
        <header>
            <h1>Introduction to Deep Learning on ShARC's DGX-1</h1>
            <span><address>University of Sheffield</address><time>From Feb. 2017</time></span>
        </header>
        <p>
            Two-afternoon course introducing the concepts of Deep Learning through the use of Caffe framework on University of Sheffield's ShARC cluster.
        </p>
    </article>
    <article>
        <header>
            <h1>Introduction to Unity</h1>
            <span><address>University of Sheffield</address><time>2016</time></span>
        </header>
        <p>
            Afternoon course as part of a 3D Computer Graphics Masters module introduces the Unity software and basic game programming.
        </p>
    </article>

    <article>
        <header>
            <h1>Introduction to Java Programming</h1>
            <span><address>University of Sheffield</address><time>Second semester 2009</time></span>
        </header>
        <p>
            Six hour-long classes as part of Human Computer Interface module.
        </p>
    </article>

</section>
